@model OgrenciPortal.UI.Models.ModelKayitVeGirisUI

@{
    ViewBag.Title = "Kayıt ol veya Giriş Yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Portalı Kayıt ol veya Giriş Yap</h2>

@using (Html.BeginForm("OgrenciKayit", "UyeVeGiris"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Kayıt Ol</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.modelOgrenciIKayit.Adi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modelOgrenciIKayit.Adi)
            @Html.ValidationMessageFor(model => model.modelOgrenciIKayit.Adi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modelOgrenciIKayit.Soyadi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modelOgrenciIKayit.Soyadi)
            @Html.ValidationMessageFor(model => model.modelOgrenciIKayit.Soyadi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modelOgrenciIKayit.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modelOgrenciIKayit.Email)
            @Html.ValidationMessageFor(model => model.modelOgrenciIKayit.Email,"Lütfen geçerli bir E-Mail adresi giriniz.")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modelOgrenciIKayit.Sifre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modelOgrenciIKayit.Sifre)
            @Html.ValidationMessageFor(model => model.modelOgrenciIKayit.Sifre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modelOgrenciIKayit.SifreTekrar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modelOgrenciIKayit.SifreTekrar)
            @Html.ValidationMessageFor(model => model.modelOgrenciIKayit.SifreTekrar)
        </div>

        <p>
            <input type="submit" value="Üye Ol" />
        </p>
    </fieldset>
}

@using (Html.BeginForm("OgrenciGiris", "UyeVeGiris"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Giriş Yap</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.modelogrencigiris.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modelogrencigiris.Email)
            @Html.ValidationMessageFor(model => model.modelogrencigiris.Email,"Lütfen geçerli bir E-Mail adresi giriniz.")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modelogrencigiris.Sifre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modelogrencigiris.Sifre)
            @Html.ValidationMessageFor(model => model.modelogrencigiris.Sifre)
        </div>

        <p>
            <input type="submit" value="Giriş Yap" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
